@charset "utf-8";
/* CSS Document */

html, body{
  height:100%;
  margin:0;
  padding:0;
}

body {
	background-image:url(../img/bg.jpg);
	background-repeat:repeat-y;
	background-position:center;
	font-family:Arial, Helvetica, sans-serif;
}

#divGameHolder {
	position:absolute;
	/*border:1px solid #15B6F2;*/
	padding:0;
}

#divPlayer {
	position:absolute;
	height:30px;
	width:30px;
	/*background-color:#99FFCC;*/
	//background-image:url(../img/player.gif);
	z-index:2000;
}

.floor {
	position:absolute;
	background-image:url(../img/bg.gif);
	background-repeat:repeat;
	z-index:0;
	filter:alpha(opacity=75);
	opacity:0.75;
}

.wall {
	position:absolute;
	/*background-color:#888888;*/
	height:30px;
	width:30px;
	background-image:url(../img/wall.gif);
}

.box {
	position:absolute;
	/*background-color:#000000;*/
	height:30px;
	width:30px;
	background-image:url(../img/box.gif);
	filter:alpha(opacity=75); opacity:0.75;
}

.boxInCube {
	/*background-color:#FF0000;*/
	background-image:url(../img/boxincube.gif);
	filter:alpha(opacity=75); opacity:0.75;
}

.cube {
	position:absolute;
	/*background-color:#EEEEEE;*/
	height:30px;
	width:30px;
	background-image:url(../img/cube.gif);
	filter:alpha(opacity=75); opacity:0.75;
}

.jqmWindow {
	  display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    
    background-color: #CCFFFF;
    color: #333;
    border: 1px solid black;
    padding: 12px;
		
		z-index:100000;
}

.jqmOverlay { background-color: #000; }

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * 	 (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
